
Easy-Peasy-ShoppingList.sln
obj/Debug/net8.0/Easy-Peasy-ShoppingList.AssemblyInfo.cs
obj/Debug/net8.0/Easy-Peasy-ShoppingList.AssemblyInfoInputs.cache
obj/Debug/net8.0/Easy-Peasy-ShoppingList.assets.cache
obj/Debug/net8.0/Easy-Peasy-ShoppingList.GeneratedMSBuildEditorConfig.editorconfig
obj/Easy-Peasy-ShoppingList.csproj.nuget.dgspec.json
obj/Easy-Peasy-ShoppingList.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
*.cache
obj/project.assets.json
