@page "/"
@namespace Easy_Peasy_ShoppingList.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Easy_Peasy_ShoppingList.Shared
@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Easy Peasy Shopping List</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/shopping-list.css" rel="stylesheet" />
    <link href="css/auth.css" rel="stylesheet" />
    <link href="css/TaskManager.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="Server" />
    <script src="_framework/blazor.server.js"></script>
    <script>
        window.initializeTheme = () => {
            const theme = localStorage.getItem('theme') || 'light';
            document.documentElement.setAttribute('data-theme', theme);
            return theme === 'dark';
        };

        window.setTheme = (theme) => {
            localStorage.setItem('theme', theme);
            document.documentElement.setAttribute('data-theme', theme);
        };
    </script>
</body>

</html>
