@using Microsoft.AspNetCore.Components

<div class="navigation-buttons">
    <a href="/shopping-list" class="btn-navigation">Shopping List</a>
    <a href="/task-manager" class="btn-navigation">Task Manager</a>
</div>
